WebServiceGiris/Web References/ServiceReference/ProductWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductList">
        <s:complexType />
      </s:element>
      <s:element name="ProductListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductListResult" type="tns:ArrayOfProductDT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductDT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductDT" nillable="true" type="tns:ProductDT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductDT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BrandId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Stock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDelete" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ProductListSoapIn">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="ProductListSoapOut">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <wsdl:input message="tns:ProductListSoapIn" />
      <wsdl:output message="tns:ProductListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductWebServiceSoap" type="tns:ProductWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <soap:operation soapAction="http://tempuri.org/ProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductWebServiceSoap12" type="tns:ProductWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <soap12:operation soapAction="http://tempuri.org/ProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductWebService">
    <wsdl:port name="ProductWebServiceSoap" binding="tns:ProductWebServiceSoap">
      <soap:address location="http://localhost:50101/ProductWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductWebServiceSoap12" binding="tns:ProductWebServiceSoap12">
      <soap12:address location="http://localhost:50101/ProductWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>